#pane{
        -fx-background-image: url("/resources/background.png");  
        -fx-background-size:stretch;
}
#pane2{
        -fx-background-image: url("/resources2/background.png");  
        -fx-background-size:stretch;
}
.button { 
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 27;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;  
   	-fx-border-color: 
   	  	#090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-border-width: 2px;
    -fx-border-radius: 25;
}
.button:hover{
	 -fx-cursor: hand;
	 -fx-border-color: lightgrey;
	 -fx-text-fill: lightgrey;
}
.button Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}
#dark-scene{
	-fx-background-image: url("/sounds/tlo6.png");  
    -fx-background-size:stretch;
}
#dark-scene Text{
	-fx-fill: lightgray ;
}
.radio-button{
	-fx-text-fill: lightgray ;
}
#stgOnline{
	-fx-background-image: url("/sounds/web.png");  
    -fx-background-size:stretch;
    -fx-background-color: #333b47;
}
#stgOnline Text{
	-fx-fill: lightgray ;
}