#pane{
        -fx-background-image: url("/resources/background.png");  
        -fx-background-size:stretch;
}
#pane2{
        -fx-background-image: url("/resources2/background.png");  
        -fx-background-size:stretch;
}